src/main/resources/createCotacao.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://mirante/soap/resultado"
	targetNamespace="http://mirante/soap/resultado"
	elementFormDefault="qualified">

	<xs:element name="leilaoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codigoItemLeilao" type="xs:int"
					minOccurs="0" />
				<xs:element name="valor" type="xs:decimal" minOccurs="0" />
				<xs:element name="login" type="xs:string" />
				<xs:element name="senha" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>